apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nvftysrx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nvftysrx:f668c8f8a2fec192bde79b04a8f697edcfb53fb6@sha256:939b8c20bb082c743c9e65b0501b260287bd86fb6d4e351af4a2220d39f83c6e
          name: container-image
